
<h1>My tasks</h1>
<ul class = 'list-unstyled  w-50 fs-5 fb lh-lg p-3'>
  <%@tasks.each do |task| %>
  <li class = 'list-group-item border border-light'>
    <% if task.completed%>
    <i class="fas fa-square"></i>
    <%else%>
    <i class="far fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task), class: 'unfs-1'%>
    <i class="fas fa-dumpster"></i>

  <%end %>
  </li>
</ul>
<%= link_to "Create a new task", new_task_path, class: 'btn btn-primary btn-sm'%>
